<h1>Change Password</h1>

<%= simple_form_for(@user, html: {class: "form-default text-center"}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :password, as: :password %>
  <%= f.input :password_confirmation, as: :password %>
  <%= f.submit "Submit", :class => "btn-lg btn-primary" %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>