<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scheduler</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="UTF-8">
</head>
<body>
	<ul>
		<li>
			<% if current_user %>
				<%= link_to 'Logout', logout_path %>
			<% else %>
				<%= link_to 'Login', login_path %>
			<% end %>
		</li>
	</ul>
	
	<%= yield %>
	
</body>
